# Stock Technical Analysis

## Import Libraries

In [13]:
import pandas as pd
import pandas_datareader as pdr
import datetime as dt

## Load Data

In [14]:
start = dt.datetime(2020, 1, 1)

In [15]:
aapl = pdr.get_data_yahoo('AAPL', start)

In [16]:
aapl.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  74.096443
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800.0  73.376083
2020-01-06  74.989998  73.187500  73.447502  74.949997  118387200.0  73.960770
2020-01-07  75.224998  74.370003  74.959999  74.597504  108872000.0  73.612930
2020-01-08  76.110001  74.290001  74.290001  75.797501  132079200.0  74.797081

In [18]:
aapl.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-09-01,154.979996,152.339996,152.830002,152.509995,80313700.0,152.509995
2021-09-02,154.720001,152.399994,153.869995,153.649994,71115500.0,153.649994
2021-09-03,154.630005,153.089996,153.759995,154.300003,57808700.0,154.300003
2021-09-07,157.259995,154.389999,154.970001,156.690002,82146200.0,156.690002
2021-09-08,157.039993,153.975006,156.979996,154.730103,61067338.0,154.730103

In [17]:
aapl.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 425 entries, 2020-01-02 to 2021-09-08
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       425 non-null    float64
 1   Low        425 non-null    float64
 2   Open       425 non-null    float64
 3   Close      425 non-null    float64
 4   Volume     425 non-null    float64
 5   Adj Close  425 non-null    float64
dtypes: float64(6)
memory usage: 23.2 KB